{% extends 'flatpages/default.html' %}

{% block title %} Удаление новости {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный товар?</h2>
        <table>
            <thead>
                <tr>
                    <td>
                        Заголовок
                    </td>
                    <td>
                        Текст
                    </td>
                    <td>
                        Дата публикации
                    </td>
                    <td>
                        Категория
                    </td>
                </tr>
            </thead>
            <tr>
                <td>
                    {{ post.title }}
                </td>
                <td>
                    {{ post.text|truncatechars:50 }}
                </td>
                <td>
                    {{ post.date_creation|date:'d, M, Y G:i' }}
                </td>
                <td>
                    {{ post.category }}
                </td>
            </tr>
        </table>
<form method="POST">
{% csrf_token %}
<input type="submit" value="подтвердить"></form>
{% endblock content %}

